NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:3002
NEXT_PUBLIC_RESOURCE_SERVICE_URL=http://localhost:3003/api
NEXT_PUBLIC_ANALYTICS_SERVICE_URL=http://localhost:3004/api
